<div class="container px-5 px-sm-0">
  <%= render "layouts/form_errors", model: @book %>
  <div class="row">

    <div class="col-md-3">
      <%= render 'layouts/section', user: current_user, book: @book %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= render 'relationships/user_details', users: @users%>
    </div>

  </div>
</div>
