<%= render 'layouts/section', user: @user, book: @book_new %>

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
      <%= render 'books/book_table', book: b %>
    </tr>
    <% end %>
  </tbody>
</table>