<%= render 'layouts/section', user: @user, book: @book_new %>

<h2>Book detail</h2>
<div>
  <table>
    <tbody>
      <tr>
        <%= render 'book_table', book: @book %>
        <% if @book.user == current_user%>
        <td><%= link_to 'Edit', edit_book_path %></td>
        <td><%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>